// Copyright NorthStar Development 🕵🏻‍♂️ 2022 
// 17 U.S.C §§ 101-1511

// Button styles component
button {
    display: flex;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
}

