// Copyright NorthStar Development 🕵🏻‍♂️ 2022 
// 17 U.S.C §§ 101-1511

// Nav bar component
.nav {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #2851E3;
    padding: 1rem 2rem;
    padding-bottom: 5rem;

  img {
      width: 13rem;
      height: 2.6rem;
  }
  &__content {
      display: flex;
      flex-direction: row;
      color: #FFFF;

    p {
        margin: 0.5rem 1rem 0rem 1rem;
        font-weight: 500;
        font-size: 1.9rem;
      span {
          cursor: pointer;
      }  
    }
 
  }
  Button {
    padding: 0.7rem 3rem;

  }
}