.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: grid;
    place-content: center;

    &__overlay {
        background-color: #10101a;
    }
  
   
    .overlay {
        animation : slideup 1s linear 1.5s both;
        @media screen and (max-width: 500px) {
        // margin-bottom: -0.9rem;
        // margin-top: -0.6rem;
        } 
    }
   
    &__overlay {
        position : relative;
  
    ul {
        list-style: none;
        display : flex;
        flex-direction: row;

      li {
          width : 29vw;
          background: #C3F7B6;
          height: 100vh;
          
        @media screen and (max-width: 500px) {
            margin-right: -0.2rem;
            // margin-bottom: -0.9rem;
            // margin-top: -0.6rem;
        }
      }
    }
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    img {
        animation: rotation 8s infinite linear;
        width: 34rem;
    
    }  
}
   &s__1 {
       animation : slideup 0.5s linear 0.1s both;
   }
   &s__2 {
       animation : slideup 0.5s linear 0.4s both;
   }
   &s__3 {
       animation : slideup 0.5s linear 0.7s both;
   }
   &s__4 {
       animation : slideup 0.5s linear 1s both;
   }
   .text {
    display: inline-block;
     font-size: 5rem;
    overflow: hidden;
    white-space: nowrap;
  animation: example 2s linear 0s  alternate;


   }
}