// Copyright NorthStar Development 🕵🏻‍♂️ 2022 
// 17 U.S.C §§ 101-1511

// for animations
@keyframes rotation {
    from {
        transform : rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes slideup {
    from {
        transfrom : translateY(0);
    }
    to {
        transform : translatey(-100%);
    }
}
@keyframes preloaderTextAnim {
    0% {
      transform: translateY(0%);
    }
    50%, 100% {
      transform: translateY(-600%);
    }
  }

  @keyframes example {
    from {
      width: 0;
    }
    to {
      width: 28rem;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}