// Copyright NorthStar Development 🕵🏻‍♂️ 2022 
// 17 U.S.C §§ 101-1511


// for font and etc 
// FONTS
:root {
  --color-light-purple: rgb(207, 89, 230);
  --color-light-blue: whitesmoke;
}

@font-face {
    font-family: "Circular Std Book";
    src: url("../../../public/fonts/CircularStd-Book.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "D-DIN Condensed";
    src: url("../../../public/fonts/D-DINCondensed-Bold.woff") format("woff");
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Mark Pro";
    src: url("../../../public/fonts/MarkPro-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  $font-primary: "Circular Std Book", sans-serif;
  $font-secondary: "Mark Pro", sans-serif;
  $font-tertiary: "D-DIN Condensed", sans-serif;