//splash section

.splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 0rem;

  &__section1{
    display: flex;
    flex-direction: column;
    padding: 9rem 1rem 0rem 4rem;
    color: white;
    
  p:nth-child(1){
      margin: 0rem 1rem 1rem -0.3rem;
      line-height: 0.5rem
  }
  h2{
      font-family: 'Gilroy';
      display: flex;
      font-size: 8.5rem;
      line-height: 8rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.02em;
  }
  &-p{
      margin: 1.5rem 1rem 1rem 0rem;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 400;
      letter-spacing: -0.03rem;
  }
  &-buttons{
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
    gap: 2rem;

    Button {
        padding: 1rem 2rem;
        display: flex;
    }
  }

  }
  img {
      margin: 0rem 1.5rem;
      width: 70rem;
      height: 60rem;
  }
}