// Copyright NorthStar Development 🕵🏻‍♂️ 2022 
// 17 U.S.C §§ 101-1511


//splash section
.splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  background: #2851E3;
  background-attachment: fixed;
  margin-top: -0.1rem;

  @media screen and (max-width: 1000px){
    flex-direction: column;
    @include centerContent;
}


  &__section1{
      width: 50%;
    display: flex;
    flex-direction: column;
    padding: 9rem 1rem 0rem 4rem;
    color: white;

    @media screen and (max-width: 1000px){
        // @include centerContent;
        width: 100%;
        padding-left: 5rem;
    }
    @media screen and (max-width: 700px) and (min-width: 600px) {
        padding-left: 4rem;
    } 
    
  p:nth-child(1){
      margin: 0rem 1rem 1rem -0.3rem;
      line-height: 0.5rem
  }
  h2{
      opacity: 1;
      font-size: 6.5rem;
      line-height: 8rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.02em;

    @media screen and (max-width: 1386px) and (min-width: 1270px) {
        font-size: 5.5rem;
    }
    @media screen and (max-width: 1270px) and (min-width: 1095px) {
        font-size: 5rem;
    }
    @media screen and (max-width: 1095px) and (min-width: 1000px) {
        font-size: 4.5rem;
    }
  
    @media screen and (max-width: 600px){
       font-size: 4rem;
       line-height: 4rem;
       padding: 1rem 0rem 1rem 0rem;
    }
      span {
        background: linear-gradient(
            -45deg,
            var(--color-light-blue),
            var(--color-light-purple),
            var(--color-light-blue),
            var(--color-light-purple)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400% 400%;
          animation: gradient 3s ease infinite;
        //   display: flex;
        //    margin-top: 3rem;
      }
  }
  &-p{
      width: 80%;
      margin: 1.5rem 1rem 1rem 0rem;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 400;
      letter-spacing: -0.03rem;
      @media screen and (max-width: 600px){
       width: 95%;
     }
  }
  &-buttons{
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
    gap: 2rem;

    Button {
        padding: 1rem 2rem;
        display: flex;
        @media screen and (max-width: 600px){
            margin-right: 1.5rem;
        }
    }
  }
}
  img {
      margin: 0rem 1.5rem;
      width: 70rem;
      height: 60rem;


    @media screen and (max-width: 1200px) and (min-width: 1000px) {
        width: 50rem;
        height: 50rem;
    }
    @media screen and (max-width: 600px){
        @include centerContent;
        text-align: center;
        width: 50rem;
        margin-top: 2rem;
        height: 50rem;
    }
  }
}
.ss {
    
    z-index: 1;
    position: absolute;
    left: -25px;
    right: 0px;
    top: -20px;
    height: 39rem !important;
    width: 35rem !important;
    bottom: 0;
    margin: auto;



}
.ss2 {
    z-index: 1;
    position: absolute;
    right: -15px;
    top: 68px;
    height: 39rem !important;
    width: 33rem !important;
    bottom: 0;
    bottom: 0;
    margin: auto;
    @media screen and (max-width: 1000px){
        top: 300px;
    }
}
.alt {
    width: 8rem !important;
    height: 8rem !important;
    position: absolute;
    margin-left: 139px;
    margin-top: 6px;
    // right: -25px;
    // top: 68px;
    
}
.alt2 {
    width: 8rem !important;
    height: 8rem !important;
    position: absolute;
    margin-left: 139px;
    margin-top: 6px;
    // right: -25px;
    // top: 68px;
    
}

// about
.about {
    display: flex;
    background: #fff;
    flex-direction: row;
    padding-bottom: 9rem;
    background-attachment: fixed;
    gap: 12rem;

    @media screen and (max-width: 1000px) {
        margin-top: 2rem;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
  &__img{
      display: flex;
    //   position: absolute;
      width: 55rem;
      margin: 0.5rem 1rem 0.5rem 15rem;
      border-radius: 1rem;

      @media screen and (max-width: 1420px) and (min-width: 1000px) {
          width: 45rem
      }
      @media screen and (max-width: 1000px) and (min-width: 600px) {
          @include centerContent;
          justify-content: center;
          margin-left: 0rem;
          align-items: center;
          text-align: center;
          width: 65rem;
          margin-bottom: 2rem;
      }
      @media screen and (max-width: 600px){
        width: 46rem;
        height: 35rem;
        margin-left: 0rem;
      }
  }
  &__contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 4rem 0rem 0rem 9rem;

      @media screen and (max-width: 1308px) and (min-width: 1000px){
       margin-left: 0rem;
    }
    @media screen and (max-width: 1000px) and (min-width: 600px) {
        // justify-content: center;
        // align-items: center;
        margin-left: 20rem !important;
        margin-top: 1rem;
    }
    @media screen and (max-width: 600px) {
        justify-content: left;
        align-items: left;
        margin-left: 6rem;
        margin-top: 0rem;
    }

    p{
      color: #2563EB;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
  
  
 
    }
    h2{
        width: 90%;
        @include headerContent;
        font-size: 5rem;

    @media screen and (max-width: 1420px) and (min-width: 1308px) {
            font-size: 4.5rem;
            width: 100%;
        } 
      @media screen and (max-width: 1308px) and (min-width: 1170px){
        font-size: 4rem;
        width: 100%;
        }
      @media screen and (max-width: 1170px) and (min-width:1000px) {
         font-size: 3rem;
         line-height: 35px;
         width: 100%;
        }
        @media screen and (max-width: 1000px) and (min-width: 600px) {
            justify-content: center;
            align-items: center;
            line-height: 35px;
            font-size: 4.5rem;
            // margin-left: 2rem;
            width: 80%;
        }
        @media screen and (max-width: 600px) {
            font-size: 4rem;
            line-height: 28px;
        }
    }
    .about-p {
        margin: 5rem 0rem 0rem 0rem;
         @include paragraphthin;
        width: 75%;

        @media screen and (max-width: 1308px) and (min-width:1000px) {
            width: 90%;
            }
        @media screen and (max-width: 1000px) and (min-width: 600px) {
            width: 65%;
        }

    }
    Button {
        margin-top: 2rem;
        width: 20%;
        display: flex;
        justify-content: center;
        padding: 1rem;
     @media screen and (max-width: 1420px) and (min-width: 1270px) {
            // font-size: 4.5rem;
            // width: 100%;
            width: 30%;
        } 
        @media screen and (max-width: 1270px) and (min-width: 1000px) {
         width: 45%;
        }
        @media screen and (max-width: 1000px) and (min-width: 600px)  {
            width: 20%;
        }
        @media screen and (max-width: 600px) {
            width: 40%;
        }
    }
  }
}

// services
.services {
    display: flex;
    flex-direction: row;
    background: #ffff;
    padding-bottom: 9rem;
    background-attachment: fixed;
    @media screen and (max-width: 1000px){ 
        flex-direction: column;
        align-items: center;
    }

    &__1 {
        padding: 0rem 0rem 0rem 10rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (max-width: 600px) {
            padding-left: 3rem;
        }
    
     p {
        @include subHeader;
     }
     h2 {
         width: 70%;
        @include headerContent;

        @media screen and (max-width: 1300px) and (min-width:600px) {
         width: 100%
        }
        @media screen and (max-width: 600px) {
         line-height: 28px;
         font-size: 4rem;
         width: 90%;
        }
     }
     .-p{
         padding-top: 3rem;
         width: 70%;
         @include paragraphthin;
     }
     &-skills{
         width: 60%;
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding-top: 4rem;
         @media screen and (max-width: 1300px){
             width: 100%;
         }
        
        .skill {
            display: flex;
            padding: 1rem 1rem;

          img {
              padding-right: 1rem;
              max-height: 24px;

            
          
          }
          .-p2{
            font-style: normal;         
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 23px;
            color: #0F172A;
            
          }
        }
     }
    }  
    &__2 {
        width: 50rem;
    
        margin: 4rem 18rem 0rem 1rem;
        @media screen and (max-width: 1300px) and (min-width:1000px) {
            // width: 40rem;
            height: 40rem;
            margin-right: 10rem;
        }
        @media screen and (max-width: 1000px) and (min-width:600px) { 
          margin-right: 5rem;
        }
        @media screen and (max-width: 600px) {
            margin-right: 0rem;
            margin-left: 0rem;
            width: 45rem;
        }

     }
}


//achievements
.achievements{
  @include centerContent;
    background: #F8FAFC;
    display: flex;
    flex-direction: column;
    padding-bottom: 9rem;
    padding-top: 4rem ;
    background-attachment: fixed;
 
   p {
        @include subHeader;
       padding: 0rem 0rem 0.5rem 0rem;
      
   }
   h2 {
     @include headerContent;
      padding: 0rem 0rem 3rem 0rem;

      @media screen and (max-width: 700px) {
       line-height: 28px;
      font-size: 4rem;
      }

   }
   &_ {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 6rem 0rem 3rem 2rem ;
      gap: 2rem;
      background: #2563EB;
      color: #fff ;
      border-radius: 1rem;

      @media screen and (max-width: 700px) {
          grid-template-columns: 1fr;
          width: 90%;
          text-align: center;
          @include centerContent;
          flex-direction: column;
          padding: 2rem 0rem 0rem 0rem;
         
      }
      @media screen and (max-width: 1290px) and (min-width: 700px) {
          margin: 2rem;
      }

     &_detail {
         display: flex;
         width: 100%;
         @media screen and (max-width: 700px) {
             @include centerContent;
             align-items: center;
             text-align: center;
             justify-content: center;
             width: 65%;
             margin-right: -1rem;
         }
       .-h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 4.0rem;
        @media screen and (max-width: 700px) {
          font-size: 3rem;
        }
       }
       .-a {
           width: 40%;
           color: white;
           display: flex;
           font-style: normal;
           font-weight: 400;
           font-size: 1.6rem;
           margin: 0rem 2rem 0rem 1rem;
           letter-spacing: -0.01;

           @media screen and (max-width: 700px) {
            //    width: 40%;
            display: flex;
            margin-left: 2rem;
            margin-top: -1rem;


           }
           
       }
     }
     &_detail:nth-child(1){
         margin-left: 5rem;
         @media screen and (max-width: 700px) {
             margin-left: 0rem;
         }
         .-a{
             width: 35%;
         }
     }
     &_detail:nth-child(2){
        .-a{
            width: 30%;
        }
        .-h2 {
         @media screen and (max-width: 700px) {
        font-size: 3rem;
        margin-right: -2rem;
        }
        }
       
     }
     &_detail:nth-child(4){
        .-a{
            width: 30%;
            // @media screen and (max-width: 700px) {
            //     width: 10%;
            // }
        }
        @media screen and (max-width: 700px) {
            margin-right: 0rem;
        }
     }
     &_detail:nth-child(3){
        @media screen and (max-width: 700px) {
        margin-right: -2rem;
        }
     }
   }
}


//offer lists
.offer {
    background-color: white;
    padding-top: 4rem ;
    @include centerContent;
    flex-direction: column;
    padding-bottom: 9rem;
    background-attachment: fixed;
    p{
        @include subHeader;
    }
   h2 {
       @include headerContent;
       @media screen and (max-width: 700px)  {
        font-size: 3.7rem;
        line-height: 23px;
    }
   }
   &__list {
       padding: 3rem 3rem 3rem 3rem;
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 2rem;
       width: 70vw;
       
       @media screen and (max-width: 1000px) and (min-width: 700px) {
        padding: 3rem 0rem 3rem 0rem;
       }
       @media screen and (max-width: 700px) {
         grid-template-columns: 1fr;
         padding: 3rem 0rem 3rem 0rem;
         align-items: center;
         display: flex;
         @include centerContent;
         flex-direction: column;
         margin-top: 10px;
       }

    &_{
       display: flex;
       justify-content: space-between;
       width: 100%; 
       border: solid 1px #DBEAFE;
       border-radius: 1rem;
       padding: 2rem ;
       background-color: white;
       box-shadow: 20px 20px 70px rgba(37, 99, 235, 0.06);

       @media screen and (max-width: 1000px) and (min-width: 870px) {
           width: 43rem;
       }
       @media screen and (max-width: 870px) and (min-width: 700px) {
        //   width: 40rem;
          margin-left: -1rem;
          justify-content: center;
          align-items: center;
       }
       
       &detail {
           width: 70%;
           padding-bottom: 2rem;

       @media screen and (max-width: 1000px) and (min-width: 700px) {
       width: 80%;
    }
        .-head {
            font-size: 2rem;
            letter-spacing: 0.03rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5rem;

            @media screen and (max-width: 1300px) and (min-width: 700px) {
                line-height: 20px;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 700px)  {
                line-height: 23px;
                margin-bottom: 5px;
                font-size: 1.5rem;
            }
      
         }
         .-t{
             @include paragraphthin
         }
       }
       img {
           height: 6rem;
       }
     }
   }
   Button {
       padding: 1rem 3.5rem;
   }
}

// how we work
.work {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 9rem;
    background-attachment: fixed;
    &__ {
        width: 100%;
        display: flex;
        height: 42rem;
        padding-bottom: 6rem;
       &card {
           width: 50%;
           @include centerContent;
           flex-direction: column;
           background-color: #2563EB;
           color: white;
           padding-top: 5rem;
           @media screen and (max-width: 830px) {
               width: 100%;
               padding-right: 8rem;
           }
         .-we {
           @include subHeader;
           color: #fff;  
           font-size: 1.4rem;
         } 
         h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: -2px;
            padding-left: 2.8rem;
         }
         .-w {
             @include paragraphthin;
             color: #CBD5E1;
            //  display: flex;
            //  text-align: right;
             direction: ltr;
             width: 100%;
             inline-size: 45rem;
             overflow-wrap: break-word;
             padding: 3rem 0rem 0rem 16.2rem;
         }
       }
       img {
           width: 50%;
           @media screen and (max-width: 800px) {
             display: none;
        }
       }
    }
    &__detail {
        display: flex;
        margin-left: 10rem;
        
        @media screen and (max-width: 800px) {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 1fr;
            margin-left: 5rem;
            justify-items: center;
            align-items: center;
            
            // justify-content: center;
            // align-items: center;
            // text-align: center;
       }

     &__list{
         border-top:2px dashed #E2E8F0; 
         @media screen and (max-width: 800px) {
            border-top: unset;
            margin-bottom: 4rem;
       }

         .p__list {
           width: 5rem;
           height: 5rem;
          display: flex;
          justify-content: center;
          align-content: center;
          color: #fff;
          font-style: normal;
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 5rem;
          letter-spacing: 0px;
          border-radius: 100%;
          margin-top: -2.2rem;
           background-color: #2563EB;
       }
       h2 {
           @include headerContent;
           font-size: 2.5rem
       }
       .p2__list {
           @include paragraphthin;
           width: 70%;
           @media screen and (max-width: 800px) {
               width: 90%;
           }
           
       }
     }
     &__list:nth-child(4){
         border-top: unset;
     }
    }
}

//teams
.team {
    @include centerContent;
    flex-direction: column;
    background: url('../../assets/illustrations/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 9rem;
    padding-top: 4rem;
    p {
        @include subHeader;
        margin-bottom: 1rem;
        
    }
    h2 {
        @include headerContent;
        padding-bottom: 3rem;
        font-size: 4rem;
        line-height: 4.5rem;
        @media screen and (max-width: 800px) {
        line-height: 28px;
        font-size: 4rem;
        }

    }
    .subh{
        padding-bottom: 5rem;
        margin-top: -3rem;
    }
    &s{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 2rem;
        @media screen and (max-width: 940px) {
            grid-template-columns:  1fr 1fr;
        }
     &__member {
         display: flex;
         flex-direction: column;
         width: 26rem;
         justify-content: center;
         align-items: center;

         @media screen and (max-width: 430px) {
              width: 23rem;
         }
        
        .img_o {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
            width: 26rem;
            border-radius: 1.5rem 1.5rem 0rem 0rem;
            border-top: 1px solid #E4E4E7;
            box-shadow: 20px 20px 70px rgba(37, 99, 235, 0.06);

            @media screen and (max-width: 430px) {
                width: 23rem;
           } 
          .img {
            padding: 2rem 0rem;
            display: flex;
            width: 18rem;
        }  
        }
    
        .members {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            background: #fff;
            border-radius: 0rem 0rem 1.5rem 1.5rem;
            box-shadow: 20px 20px 70px rgba(37, 99, 235, 0.06);
            .img_ {
                width: 100%;
                margin-top: -0.5rem;
               
            }
            h2 {
                font-style: normal;
                font-weight: 700;
                font-size: 1.7rem;
                letter-spacing: 0rem;;
                line-height: 4rem;
                padding-bottom: 0rem;
            }
            p {
                @include paragraphthin;
                font-size: 1.5rem;
            }
        }
     } 
    }
}

//clients
.client {
    @include centerContent;
    flex-direction: column;
    padding-bottom: 9rem;
    padding-top: 4rem;
    background: #F8FAFC;
  p {
      @include subHeader;
  }
  h2 {
      @include headerContent;
      padding-bottom: 3rem;
      font-size: 4rem;
      line-height: 4.5rem;
  }
  &s {
      padding: 2rem 6rem;
      display: flex;
      flex-direction: row;
      background: url("../../assets/illustrations/Shadow.png");
      background-repeat: no-repeat;
      background-position: 25% 75%;

      @media screen and (max-width: 1250px) and (min-width: 750px) {
        background-position: 15% 75%;
      } 

      @media screen and (max-width: 750px) and (min-width: 450px)  {
        margin-left: 110rem !important;
        background-position: 15% 45%;
      } 
      @media screen and (max-width: 450px) {
        margin-left: 150rem !important;
        // background-position: 0% 10%;
        background-size: cover;
      } 
      
    //   background-attachment: fixed;
    //   position: fixed;
      gap: 3rem;

     &__detail {
         padding: 2rem;
         background-color: white;
         border: 1px solid #DBEAFE;
         box-shadow: 20px 20px 70px rgba(37, 99, 235, 0.06);
         border-radius: 2.5rem;
         width: 35rem;
       span {
           font-size: 1.5rem;
       }
       p {
           @include paragraphthin;
           padding-top: 4rem;
       }
       .clients_p {
           display: flex;
            flex-direction: row;
            padding-top: 2rem;
          img {
              width : 5rem;
              height: 5rem;
          }
           .c-p{
             display: flex;
             flex-direction: column;
             padding: 2rem 2rem;
             h2 {
                 font-size: 1.7rem;
                 line-height: 0;
                 letter-spacing: -0.08rem;
                 padding: 0rem;
             }
             p {
                 padding-top: 1rem;
                 font-size: 1.4rem;
                 width: 100%;
             }
           }
       }
     }
   
  }  
   /* Buttons */
        .slideshowDots {
            text-align: center;
        }
        
        .slideshowDot {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
        
            cursor: pointer;
            margin: 15px 7px 0px;
        
            background-color: #c4c4c4;
        }
        
        .slideshowDot.active {
            background-color: #C3F7B6;
        }
}

// contacts;
.contact {
    display: flex;
    gap: 5rem;
    padding: 5rem 3rem 9rem 3rem;
    background: #F8FAFC;

   &s__1 {
       display: flex;
       flex-direction: column;
       padding-left: 15rem;
       width: 50vw;
   p {
       @include subHeader;  
   }
   h2 {
    @include headerContent;
    padding-bottom: 3rem;
    font-size: 4rem;
    line-height: 4.5rem;
    inline-size: 40rem;
    overflow-wrap: break-word;
    
   }
   .text {
       @include paragraphthin;
       padding-bottom: 2.9rem;
       inline-size: 36rem;
       overflow-wrap: break-word;
   }
   img {
       width : 75%
   }
     
   } 
   &s__2 {
       width: 40vw;
       margin-top: 6rem;

     .-c2{
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border: 1px solid #DBEAFE;
        box-shadow: 20px 20px 70px rgba(37, 99, 235, 0.06);
        border-radius: 1.2rem;
        padding: 4rem 10rem 4rem 10rem;

          p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 2rem;
          }
           form{
           display: flex;
           flex-direction: column;
 

        input {
            @include paragraphthin;
            padding: 0.6rem 0rem;
            width: 100%;
            margin: 2rem 0rem;
            border-bottom: solid 1px #D4D4D8;
        }
        .form-control {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding-left: 48px;
            margin-left: 0;
            border-bottom: solid 1px #D4D4D8;
        }
        Button {
            display: flex;
            justify-content: center;
            padding: 1rem;
        }
        .messages {
            padding: 0.6rem 0rem 6rem 0rem;
        }
        .react-tel-input .flag-dropdown {
            background-color: white !important;
            border-bottom: solid 1px #D4D4D8 !important;
            border-top: unset !important;
            border-left: unset !important;
            border-right: unset !important;
        }
        .react-tel-input .form-control {
            border-radius: unset !important;
            border-top: unset !important;
            border-left: unset !important;
            border-right: unset !important;
            border-bottom: solid 1px #D4D4D8 !important;
        }  

       } 
    }
    
   }
}

//footer
.footer {
    display: flex;
    padding-bottom: 3rem;
    flex-direction: column;
   &s{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F8FAFC;
    padding: 3rem;

    img {
        padding-top: 1rem;
        width: 15rem;
    }
    &__{
        display: flex;
        gap: 2rem;
        margin-top: 1.5rem;

        h3{
            margin-top: -0.35rem;
            color: #52525B;

          }
          p {
              @include paragraphthin;
          }
    }
   }
   .foot {
       padding: 3rem 0rem;
       @include centerContent;
       align-items: center;
       text-align: center;
       justify-content: center ;
       @include paragraphthin;
       color: #52525B;

   }
}

Button {
      font-family: $font-primary, sans-serif;;
}

.splash__bottom{
    @media screen and (max-width: 500px){
      margin-top: -0.8rem !important;
    }
}