//splash section

.splash {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 0rem;
  width: 100%;

  &__section1{
      width: 50%;
    display: flex;
    flex-direction: column;
    padding: 9rem 1rem 0rem 4rem;
    color: white;
    
  p:nth-child(1){
      margin: 0rem 1rem 1rem -0.3rem;
      line-height: 0.5rem
  }
  h2{
      font-family: 'Gilroy';
      display: flex;
      font-size: 7.5rem;
      line-height: 8rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.02em;
  }
  &-p{
      width: 80%;
      margin: 1.5rem 1rem 1rem 0rem;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 400;
      letter-spacing: -0.03rem;
  }
  &-buttons{
    display: flex;
    flex-direction: row;
    padding: 2rem 1rem;
    gap: 2rem;

    Button {
        padding: 1rem 2rem;
        display: flex;
    }
  }
}
  img {
      margin: 0rem 1.5rem;
      width: 70rem;
      height: 60rem;
  }
}

// about
.about {
    display: flex;
    background: #fff;
    flex-direction: row;
    padding-bottom: 9rem;

    gap: 12rem;
  &__img{
      display: flex;
      width: 50rem;
      margin: 0.5rem 1rem 0.5rem 15rem;
      border-radius: 1rem;
  }
  &__contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 4rem 0rem 0rem 9rem;

    p{
      color: #2563EB;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
 
    }
    h2{
        width: 70%;
        @include headerContent;
        font-size: 5rem;
    }
    .about-p {
        margin: 5rem 0rem 0rem 0rem;
         @include paragraphthin;
        width: 75%;
    }
    Button {
        margin-top: 2rem;
        width: 20%;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
  }
}

// services
.services {
    display: flex;
    flex-direction: row;
    background: #ffff;
    padding-bottom: 9rem;

    &__1 {
        padding: 0rem 0rem 0rem 10rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    
     p {
        @include subHeader;
     }
     h2 {
         width: 70%;
        @include headerContent;
     }
     .-p{
         padding-top: 3rem;
         width: 70%;
         @include paragraphthin;
     }
     &-skills{
         width: 60%;
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding-top: 4rem;
        
        .skill {
            display: flex;
            padding: 1rem 1rem;

          img {
              padding-right: 1rem;
              max-height: 24px;
          
          }
          .-p2{
            font-style: normal;         
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 23px;
            color: #0F172A;
            
          }
        }

     }

    }  
    &__2 {
        width: 50rem;
        margin: 4rem 18rem 0rem 1rem;
     }
}


//achievements

.achievements{
  @include centerContent;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 9rem;
 
   p {
        @include subHeader;
       padding: 0rem 0rem 0.5rem 0rem;
      
   }
   h2 {
     @include headerContent;
      padding: 0rem 0rem 3rem 0rem;
   }
   &_ {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 6rem 0rem 3rem 2rem ;
      gap: 2rem;
      background: #2563EB;
      color: #fff ;
      border-radius: 1rem;

     &_detail {
         display: flex;
         width: 100%;
       .-h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 4.0rem;
       }
       .-a {
           width: 40%;
           color: white;
           display: flex;
           font-style: normal;
           font-weight: 400;
           font-size: 1.6rem;
           margin: 0rem 2rem 0rem 1rem;
           letter-spacing: -0.01;
           
       }
     }
     &_detail:nth-child(1){
         margin-left: 5rem;
         .-a{
             width: 35%;
         }
     }
     &_detail:nth-child(2){
        .-a{
            width: 30%;
        }
     }
     &_detail:nth-child(4){
        .-a{
            width: 30%;
        }
     }
   }
}


//offer lists
.offer {
    background-color: white;
    @include centerContent;
    flex-direction: column;
    padding-bottom: 9rem;
    p{
        @include subHeader;
    }
   h2 {
       @include headerContent;
   }
   &__list {
       padding: 1rem 3rem 1rem 3rem;
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 2rem;
       width: 70vw;

    &_{
       display: flex;
       width: 100%; 
       border: solid 1px #DBEAFE;
       border-radius: 1rem;
       padding: 2rem;
       background-color: white;
       box-shadow: 20px 20px 70px rgba(37, 99, 235, 0.06);

       &detail {
           width: 60%;
        .-head {
            font-size: 2rem;
            letter-spacing: 0.03rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5rem;
         }
         .-t{
             @include paragraphthin
         }
       }
    
     }
   }

}