// Copyright NorthStar Development 🕵🏻‍♂️ 2022 
// 17 U.S.C §§ 101-1511

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 58%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  @media only screen and (max-width: 62.5em) {
    font-size: 51.25%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 49%;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 46%;
  }

  @media only screen and (min-width: 140.5em) {
    font-size: 75%;
  }
}

body {
//   font-family: $font-primary, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
//   background: #2851E3;
  background-size: 400% 400%;

  input {border:0;outline:0;}
  input:focus {outline:none!important;}

}
.App {
    overflow-x: hidden;
}
